              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#info">
                      信息||Info
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#life">
                      生活||Life
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#music">
                      音乐||Music
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#fun">
                      娱乐||Fun
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#movie">
                      电影||Movie
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#jobs">
                      职场||Jobs
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Finance">
                      理财||Finance
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Creation">
                      创意||Creation
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
