            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/">
                  GitHub
                </a>
              </li>
               <li>
                <a href="http://www.pop925.net/">
                  英语文摘
                </a>
              </li>              
              <li>
                <a href="http://www.mifengtd.cn/">
                  褪墨
                </a>
              </li>
              <li>
                <a href="https://www.flipboard.cn/explore/">
                   Flipboard
                </a>
              </li>
              <li>
                <a href="http://www.iplaysoft.com/">
                  异次元软件
                </a>
              </li>
              <li>
                <a href="http://forbetty.com/">
                  BETTY DIARY
                </a>
              </li>
            </ul>
