          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/tags.html">
                分 类 
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                推 荐
              </a>
            </li>
            <li>
              <a href="http://note.youdao.com/share/?id=0aa5b4c6854be814f64b639bbb6654da&type=notebook">
                文 摘
              </a>
            </li>
            <li>
              <a href="/about.html">
                关 于
              </a>
            </li>
            <li>
              <a href="http://blog.pop925.net/atom.xml">
                RSS
              </a>
            </li>
          </ul>
