          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                问 答
              </a>
            </li>
            <li>
              <a href="/tags.html">
                分 类 
              </a>
            </li>
            <li>
              <a href="/about.html">
                About
              </a>
            </li>
            <li>
              <a href="http://a.pop925.net/atom.xml">
                RSS
              </a>
            </li>
          </ul>
